-r requirements.txt

# Testing dependencies
pytest==8.4.1
pytest-cov==6.2.1
httpx==0.28.1  # For async testing
pytest-asyncio==1.1.0
pytest-html
types-requests

# Development tools
black==25.1.0  # Code formatting
isort==6.0.1  # Import sorting
flake8==7.3.0  # Linting
mypy==1.17.0  # Type checking
pact-python==2.3.3
testcontainers
mutmut==3.3.0 # Dependency for mutation testing
